:root {
    --main-theme-light:   #e2f1f8;
    --main-theme-primary: #b0bec5;
    --main-theme-dark:    #808e95;
    --main-theme-accent:  #9cee48;
}

html {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--main-theme-primary);
    min-height: 100%;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

header {
    padding: 0.5rem;
    background-color: var(--main-theme-dark);
    height: 30px;
}

header nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.header-left {
    justify-content: flex-start;
    flex: 1;
    font-size: 1.3rem;
}

.header-left a {
    margin-right: 15px;
}

.header-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 1.5rem;
    font-weight: bold;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
    font-size: 1.6rem;
}


main {
    /*display: flex;*/
    /*flex-direction: column;*/
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    /*margin: 0 0 auto 0;*/
    /*height: 90vh;*/
    width: 100%;
}
