:root {
    --main-theme-light:   #e2f1f8;
    --main-theme-primary: #b0bec5;
    --main-theme-dark:    #808e95;
    --main-theme-accent:  #9cee48;
}

html {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--main-theme-primary);
}

body {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: unset;
}

header {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: var(--main-theme-dark);
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0 0 auto 0;
}

footer {
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    background-color: var(--main-theme-dark);
}
