.workout-list {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 600px) {
    .workout-list {
        grid-template-columns: none;
    }
    header,
    footer {
        flex-direction: column;
    }
    header .nav-item {
        width: 100%;
    }
}

.workout-item {
    background-color: var(--main-theme-dark);
    min-height: 192px;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 2rem;
}

.workout-item .tag-line {
    padding: 0.25rem;
    gap: 0.5rem;
    top: 0.25rem;
    left: 0.25rem;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.tag-line .tag {
    padding: 0.25rem;
    border-radius: 0.3rem;
    background-color: var(--main-theme-dark);
    display: flex;
    flex-direction: column;
}


.workout-item .image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.workout-item .title {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}
