.workout-title,
.workout-type,
.workout-difficulty,
.workout-focus {
    font-size: 1.5rem;
    margin-right: auto;
}

.workout-inputs {
    background-color: var(--main-theme-dark);
    display: flex;
    border-radius: 1rem;
    padding: 20px;
}

.workout-inputs select,
.workout-inputs input {
    border: none;
}

.workout-title input {
    background-color: var(--main-theme-dark);
    border-bottom: 1px solid var(--main-theme-light);
    color: var(--main-theme-light);
    font-size: 24px;
    max-width: 250px;
}

.diff-icon-down {
    visibility: hidden;
}

.collapsible {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: var(--main-theme-dark);
}

.collapsible:after {
    content: '\f106';
    font-family: FontAwesome, sans-serif;
    font-size: 18px;
}

.active:after {
    content: '\f107';
    font-family: FontAwesome, sans-serif;
    font-size: 18px;
}

.collapsed-content {
    padding: 0 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
}

.search-button {
    background-color: var(--main-theme-light);
    color: var(--main-theme-dark);
    border-color: var(--main-theme-dark);
    border-width: 1px;
    border-radius: 0.5rem;
    max-height: 50px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 10px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
}

.search-button:hover {
    -webkit-filter: brightness(90%);
}


.workout-list {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

@media (max-width: 600px) {
    .workout-list {
        grid-template-columns: none;
    }
    header,
    footer {
        flex-direction: column;
    }
    header .nav-item {
        width: 100%;
    }
}

.workout-item {
    background-color: var(--main-theme-dark);
    min-height: 192px;
    border-radius: 1rem;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 2rem;
}

.workout-item .tag-line {
    padding: 0.25rem;
    gap: 0.25rem;
    top: 0.25rem;
    left: 0.25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tag-line .tag {
    border-radius: 0.3rem;
    background-color: var(--main-theme-dark);
    display: flex;
    flex-direction: row;
    margin-right: auto;
    padding: 0.25rem 0.5rem;
}

.tag img {
    height: 24px;
    margin-right: 4px;
}

.workout-item .action-buttons {
    padding: 0.25rem;
    gap: 0.25rem;
    top: 0.25rem;
    right: 0.25rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.action-buttons .action-button {
    border-radius: 0.3rem;
    background-color: var(--main-theme-dark);
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 0.25rem 0.5rem;
}

.workout-item .image {
    width: 100%;
    height: 192px;
    object-fit: contain;
    background-color: var(--main-theme-light);
}

.workout-item .title {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
}
